// 定制 Element Plus 主题
// https://element-plus.org/zh-CN/guide/theming.html

// 只需要重写你需要的样式
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #409eff,
    ),
  ),
);

// 导入所有样式
@use "element-plus/theme-chalk/src/index.scss" as *;
